@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: opacity 0.1s ease-in-out;
}
/* default */
body {
    font-size: 18px;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    background: white; /* #444444;   */
    font-weight: 600;
}

/* container */
.container {
    width: 100vw;
}

/* menu */
#menu {
    padding: 30px;
    max-width: 435px;
    min-width: 300px;
    margin: 15px auto;
    transition: all 0.4s ease-in-out;
}

/* select */
.select {
    margin: 0 auto;
    max-width: 375px;
    min-width: 300px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 15px;
    align-items: center;
    cursor: default;
    overflow: hidden;
    border: 5px solid #444444;
    margin-bottom: 15px;
}
.select:hover {
    cursor: pointer;
}
.select .left {
    display: flex;
    align-items: center;
}
.select .left #current-icon {
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
}
.select .left #current-icon i {
    -webkit-animation: rotation 4s infinite linear;
    transform: translate3d(0, 0, 0) !important;
}
.select .left #current-category {
    margin-left: 30px;
    transition: opacity 0.5s ease-in-out;
}
.select .right {

}
.select .right #arrow {
    padding: 2px 5px;
    font-size: 1.7rem;
    transition: all 0.4s ease-in-out;
}
.select .right #arrow.active {
    transform: rotate(180deg);
}

/* options */
#options {
    margin: 0 auto;
    max-width: 375px;
    min-width: 300px;
    height: 5px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    border: 5px solid transparent;
}
#options * {
    opacity: 0;
}
#options.active {
    height: 225px;
    opacity: 1;
    border-color: #444444;
}
#options.active * {
    opacity: 1;
}
#options .option {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
#options .category {
    transition: all 0.5s ease-in-out;
}
#options .option {
    border-left: 0px solid transparent;
    transition: all 0.4s ease-in-out;
}
#options .option:hover {
    background: rgba(218, 216, 216, 0.39);
    cursor: pointer;
}
#options .option .change-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    font-size: 1.4rem;
}
#options .option .change-icon.active {
    opacity: 1;
}
#options .option .change-icon i {
    transition: all 0.5s ease-in-out;
    -webkit-animation: rotation 4s infinite linear;
}

.item {
    transform: translate3d(0, 0, 0);
}

/* left border color */
#options .option:hover.blue {
    border-color: #5c9dff;
}
#options .option:hover.pink {
    border-color: #ff8a9e;
}
#options .option:hover.purple {
    border-color: #7973FF;
}
#options .option:hover.red {
    border-color: #f55649;
}
#options .option:hover.teal {
    border-color: #ffab3e;
}
#options .option:hover.color {
    border-color: #ffdc3e;
}

/* icons */
#blue {
    color: #5c9dff;
}
#pink {
    color: #ff8a9e;
}
#purple {
    color: #7973FF;
}
#red {
    color: #ff5a4e;
}
#teal {
    color: #ffab3e;
}
#color {
    color: #ffdc3e;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

@media screen and (max-width: 600px) {
    #menu {
        margin: 0;
        padding: 0;
    }
    .select {
        margin: 0 !important;
        min-width: 100vw;
    }
    #options {
        margin: 0 !important;
        min-width: 100vw;
        border-top: none;
    }
}